/* ******* Section-Featured Post Styles Start ******* */

.featured-post-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 350px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 30px -15px #000;
    overflow: hidden;
}

.featured-post-hero:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.3);
    z-index: 1;
}

.featured-post-hero .post-title, 
.featured-post-hero .post-meta {
    position: relative;
    font-family: var(--title-font);
    color: #fff;
    z-index: 1;
}

.featured-post-hero  .post-meta {
    font-size: 14px;
}

.featured-post-hero .post-title {
    max-width: 725px;
    margin: 0 0 12px;
}

.featured-post-hero .post-category {
    font-weight: 600;
}

.featured-post-hero .featured-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.featured-post-hero .featured-image .wp-post-image {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media(min-width:980px) {

    .featured-post-hero .post-title {
        font-size: 45px;
    }

    .featured-post-hero  .post-meta {
        font-size: 16px;
    }
}

/* ******* Section-Featured Post Styles End ******* */

/* ******* Section-Related Posts Styles Start ******* */

#posts.container {
    padding-top: 0;
}

#posts .post-teasers {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.post-teaser {
    position: relative;
    height: 275px;
    border-radius: 12px;
    box-shadow: 0px 0px 30px -15px #000;
    overflow: hidden;
}

.post-teaser::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, #000 12%, transparent 35%);
    z-index: 1;
}

.post-teaser .wp-post-image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.post-teaser .post-category,
.post-teaser .post-date,
.post-teaser .post-title,
.post-teaser .post-excerpt {
    position: relative;
    z-index: 2;
}

.post-teaser * {
    font-family: var(--title-font);
    color: var(--background-color);
}

.post-teaser .post-category {
    display: inline;
    position: absolute;
    top: 0;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--primary-color);
    margin: 0;
    padding: 8px;
    border-radius: 0 0 12px 0;
    z-index: 4;
    transition-duration: .18s
}

.post-teaser .post-date {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 62px;
    font-size: 12px;
    margin: 0;
    text-align: center;
}

.post-teaser .post-copy {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(33,47,49,.9);
    z-index: 3;
    transform: translateY(calc(100% - 55px));
    transition: .18s;
}

.post-teaser .post-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 55px;
    padding: 12px;
    margin: 0;
    text-align: center;
}

.post-teaser .post-excerpt p {
    font-size: 14px;
    padding: 0 20px 20px;
    margin: 0;
}

.show-more-pagination a {
    display: block;
    margin: 60px auto 10px;
}

#posts h2 {
    font-size: 24px;
}

@media(min-width:768px){
    #posts .post-teasers {
        grid-template-columns: 1fr 1fr;
    }

    #posts h2 {
        font-size: 52px;
    }
}

@media(min-width:980px){
    .post-teaser:hover .post-copy {
        transform: translateY(0%);
        top: 0;
        padding-top: 35px;
    }

    .post-teaser:hover .post-category {
        background-color: var(--secondary-color);
    }
}

@media(min-width:1100px){
    #posts .post-teasers {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Category Toggle */

#posts .cat-nav {
    display: flex;
    background-color: var(--background-color);
    border-radius: 12px;
    margin: 0 0 30px;
    overflow: hidden;
}

#posts .cat-nav .cat {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--title-font);
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: .25s;
}

#posts .cat-nav .cat:not(:last-child) {
    border-right: 1px solid var(--primary-color);
}

#posts .cat-nav .cat:hover {
    background-color: rgba(33,47,49,.2);
}

#posts .cat-nav .cat.active {
    background-color: var(--primary-color);
    color: var(--background-color);
}

@media(min-width:768px){

    #posts .cat-nav {
        display: inline-flex;
    }

    #posts .cat-nav .cat {
        width: unset;
        padding: 12px 35px;
    }
}

/* ******* Section-Related Posts Styles Start ******* */