/* ******* General Styles Start ******* */

.home h1 {
    font-size: 24px;
    margin: 0 0 6px;
}

.home h2 {
    font-size: 24px;
    margin: 8px 0 12px;
}

#hero p.subtitle {
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0 0 20px;
}

@media(min-width: 1200px){
    .home h1 {
        font-size: 48px;
        margin: 0 0 12px;
    }

    .home h2 {
        font-size: 52px;
    }

    .home h3 {
        font-size: 42px;
    }

    .home h4 {
        font-size: 22px;
    }

    #hero p.subtitle {
        margin: 5px 0 45px;
        font-size: 20px;
    }
}

/* ******* General Styles End ******* */

/* ******* Section-Hero Styles Start ******* */

#hero {
    background-color: var(--cta-color-green);
}

#hero .hero__contain {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    max-width: 1375px;
    margin: auto;
}

#hero .hero__contain > div {
    max-height: 450px;
}

#hero h1,
#hero p {
    color: var(--white-color);
}

#hero .hero__content {
    order: 2;
    padding: 25px;
}

#hero .cta-button {
    display: block;
    margin: 0 auto 6px;
    max-width: 240px;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
}

.hero__image img {
    object-fit: cover;
    object-position: left;
    height: 100%;
}

@media(min-width: 640px) {
    #hero .cta-button {
        display: block;
        margin: 0;
    }

    #hero .hero__content {
        padding: 30px;
    }
}

@media(min-width: 1200px) {
    #hero .hero__contain {
        grid-template-columns: 1fr 1fr;
    }

    #hero .hero__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 70px;
        order: 0;
    }
}


/* ******* Section-Hero Styles End ******* */

/* ******* Section-Post Styles Start ******* */

.home #posts.container {
    padding-top: 45px;
}

/* ******* Section-Post Styles End ******* */

/* ******* Section-Info Styles Start ******* */

@media(max-width: 767px){
    .ppd-info-action .info-content {
        order: 2;
    }

    .ppd-info-action .info-image {
        max-height: 185px;
        overflow: hidden;
    }

    .ppd-info-action .info-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .ppd-info-action:nth-child(1) .info-image img {
        object-position: top;
    }

    .ppd-info-action:nth-child(2) .info-image img,
    .ppd-info-action:nth-child(3) .info-image img {
        object-position: bottom;
    }
}

.ppd-info-action {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--background-color-brown);
    margin-bottom: 40px;
    border-radius: 16px;
    /* border: 2px solid var(--primary-color); */
    overflow: hidden;
}

.ppd-info-action .info-content {
    padding: 30px;
}

.ppd-info-action .info-content p {
    line-height: 1.4;
}

.ppd-info-action .info-content h3 {
    margin: 0 0 20px;
}

/* .ppd-info-action .info-image {
    display: none;
} */

@media(min-width:768px) {
    .ppd-info-action {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: none;
    }

    .ppd-info-action .info-content {
        padding: 70px 50px;
    }

    .ppd-info-action:nth-child(even) .info-content {
        order: 1;
    }

    .ppd-info-action .info-content p {
        font-size: 22px;
    }

    .ppd-info-action .info-image {
        display: block;
    }

    .ppd-info-action .info-image img {
        height: 100%;
        width: auto;
        object-fit: cover;
        object-position: center;
    }
}

/* ******* Section-Info Styles End ******* */

/* ******* Google Autofill Styles Start ******* */

.pac-container.pac-logo.hdpi {
    padding: 24px;
    border-radius: 12px;
    margin-top: 5px;
}

/* ******* Google Autofill Styles End ******* */