/* Theme Styling for Global Elements (header, footer, basic components) */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
    --primary-color: #212F31;
    --secondary-color: #ae4242;
    /* --link-color: #3366ff; */
    --link-color: #3344DD;
    --cta-color-orange: #EB8242;
    --cta-light-orange: #FEC780;
    --cta-color-green: #34575C;
    --hover-green: #99AAAD;
    --background-color: #F1F6F9;
    --background-color-brown: #EADED0;
    --gray-color: #D1D1DB;
    --white-color: #ffffff;
    --accent-green: #1CC69E;
    --accent-green-earth: #BBDFB9;
    --accent-red-earth: #F27C97;
    --accent-yellow: rgba(246,218,99,.7);
    --wppd-blue: #22C5DD;


    --title-font: 'Montserrat', open-sans;
    --paragraph-font: 'Raleway', open-sans;
}

*, html, body {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: var(--paragraph-font);
    font-weight: 400;
    line-height: 1.2;
    color: var(--primary-color);
    transform: none !important;
}

section,
main,
footer {
    position: relative;
    background-color: #fff;
}

ul {
    margin: 0;
    padding: 8px 0 0 16px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}

.pointer {
    cursor: pointer;
}

.image-shadow {
    display: block;
    border-radius: 16px;
    box-shadow: 0px 0px 30px -18px #000;
}
   
.mobile-hide-inline {
    display: none;
}

.mobile-hide-block {
    display: none;
}

.desktop-hide-inline {
    display: inline;
}

.desktop-hide-block {
    display: block;
}

@media(min-width:980px){
    .container {
        padding: 45px 30px;
    }

    .mobile-hide-inline {
        display: inline;
    }

    .mobile-hide-block {
        display: block;
    }

    .desktop-hide-inline {
        display: none;
    }

    .desktop-hide-block {
        display: none;
    }
}

/******** Typography Styles Start ********/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    font-weight: 600;
    line-height: 1.2;
    color: var(--primary-color);
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    margin: 8px 0 12px;
}

h2.subtitle {
    font-size: 18px;
    font-weight: 400;    
    margin: 0 0 30px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

p, li {
    font-size: 16px;
    color: var(--primary-color);
}

li {
    padding: 3px 0;
}

p.subtitle {
    font-size: 14px;
    margin: 10px 0 40px;
}

a, a:visited {
    color: var(--primary-color);
    text-decoration: none;
    transition: .2s;
}

a:hover {
    color: var(--secondary-color);
}

#post-content a {
    color: var(--link-color);
}

input {
    outline: none;
    border: none;
}

.center {
    text-align: center;
}

@media(min-width: 768px){
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    p, li {
        font-size: 18px;
    }

    p.subtitle {
        font-size: 20px;
    }    
}

/******** Typography Styles End ********/

/******** Global Component Styles Start ********/

/* CTA */

.cta-button {
    display: inline-block;
    font-family: var(--title-font);
    font-size: 14px;
    font-weight: 700;
    color: #ffffff !important;
    text-align: center;
    background-color: var(--cta-color-orange);
    border: 1px solid var(--cta-color-orange);
    padding: 12px 24px;
    border-radius: 50px;
    width: 100%;
}

.cta-button:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.cta-button.cta-button-light {
    background-color: transparent;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
}

.cta-button.cta-button-light:hover {
    background-color: var(--primary-color);
    color: var(--white-color) !important;
}

@media(min-width:400px){
    .cta-button {
        max-width: 225px;
    }
}

/* CTA Element */

@media(max-width: 767px){
    .cta-element {
		margin: 30px auto 10px !important;
	}

    .cta-element .cta-button {
        padding: 10px;
        max-width: 185px;
    }
}

.cta-element {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    align-items: center;
    text-align: center;
    max-width: 850px;
    padding: 20px 30px;
    margin: 30px auto;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    background-color: var(--background-color);
}

.cta-element .copy h3 {
    font-size: 20px;
    margin: 0 0 5px;
}

.cta-element .copy p {
    font-family: var(--title-font);
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.cta-element .cta-icon {
    height: 32px;
    width: auto;
    margin: auto;
}

.cta-element .cta-button {
    margin: auto;
}

@media(min-width:980px){
    .cta-element,
    #post-hero .cta-element {
        grid-template-columns: 1fr 12fr 4fr;
        gap: 30px;
        padding: 30px;
        text-align: left;
    }

    .single .cta-element {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .cta-element .cta-icon {
        height: 40px;
    }

    .cta-element .copy h3 {
        font-size: 24px;
    }

    .cta-element .copy p {
        font-size: 14px;
    }
}

/* CTA Email Element */

.cta-email {
    background-color: #fff;
}

#tsf-mc-email {
    display: block;
    max-width: 250px;
    margin: auto;
    overflow: hidden;
}

#tsf-mc-email .cta-button {
    border-radius: 50px;
    padding: 4px 12px;
    /* width: 100px; */
}

#tsf-mc-email .email {
    padding: 5px 20px;
    margin-bottom: 8px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    font-size: 14px;
    text-align: center;
}

#tsf-mc-success {
    display: none;
    font-family: var(--title-font);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: 2px dashed var(--primary-color);
    border-radius: 12px;
    padding: 12px;
    max-width: 200px;
    margin: auto;
}

@media(min-width:768px) {
    #tsf-mc-email {
        display: flex;
        flex-wrap: nowrap;
        border: 1px solid var(--primary-color);
        border-radius: 55px;
        max-width: 300px;
    }

    #tsf-mc-email .email {
        border: none;
        border-radius: 50px 0 0 50px;
        margin: 0;
    }

    #tsf-mc-email .cta-button {
        padding: 8px 24px;
        border-radius: 0 50px 50px 0;
    }
}

/* Breadcrumbs */

#breadcrumbs {
    font-family: var(--title-font);
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 16px;
}

#breadcrumbs .breadcrumb_last {
    font-weight: 700;
}

/* Social Media Icons */

.social-media h5 {
    margin-bottom: 8px;
}

.social-media .icons .icon-link img {
    height: 15px;
    width: auto;
    margin-right: 8px;
    transition: .2s;
}

.social-media .icons .icon-link:hover img {
    opacity: .8;
}

/******** Global Component Styles End ********/

/* ******* Section-Header Styles Start ******* */

@media(max-width:380px){
    #masthead .header-content .custom-logo-link .custom-logo {
        content: url('/wp-content/themes/planpackdiscover/assets/svg/ppd-icon-v2.svg');
        height: 27px !important;
        width: auto !important;
    }
}

@media(max-width:979px){
    #content {
        /* filter: blur(0px); */
        transition: .2s ease-in-out;
    }

    #content.mobile-nav-open {
        filter: blur(2px);
        position: fixed;
        /* top: -5px; */
        z-index: 1;
    }

    #content.mobile-nav-open:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    #masthead .header-content .custom-logo-link .custom-logo {
        height: 30px;
        width: auto;
    }

    .menu-main-menu-container {
        border: 2px solid rgba(33, 47, 49, .75);
        border-right: none;
        border-radius: 0px 0px 0px 12px;
        box-shadow: -10px 10px 30px -35px #000;
        position: absolute;
        top: 80px;
        right: 0;
        padding: 20px;
        width: 350px;
        min-height: 575px;
        background-color: var(--white-color);
        opacity: 0;
        overflow-y: scroll;
        transform: translateX(calc(100%));
        transition: .2s ease-in-out;
    }
    
    #site-navigation-mobile .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
        font-family: var(--title-font);
        font-weight: 700;
        font-size: 24px;
    }

    #site-navigation-mobile .menu li {
        width: 100%;
        max-width: 375px;
        margin: auto;
        padding: 0;
        transition: 0s;
    }

    #site-navigation-mobile .menu li:active {
        background-color: var(--accent-yellow);
        border-radius: 5px;
    }

    #site-navigation-mobile .menu li:active a {
        color: var(--primary-color);
        font-weight: 600;
    }

    #tp__menu-parent-item:hover {
        background-color: transparent !important;
    }

    #site-navigation-mobile .menu a {
        display: inline-block;
        padding: 10px;
        font-size: 16px;
        font-weight: 400;
        
    }

    #masthead .cta-button {
        margin-top: 12px;
        width: 100% !important;
        max-width: 300px;
        padding: 16px 10px !important;
        font-weight: 700 !important;
    }

    #site-navigation-mobile.mobile-nav-open .menu-main-menu-container {
        opacity: 1;
        transform: translateX(0);
    }

    #site-navigation-mobile .menu-close-icon {
        display: none;
    }
    
    #site-navigation-mobile.mobile-nav-open .menu-close-icon {
        display: block;
    }
    
    #site-navigation-mobile .menu-open-icon {
        display: block;
    }
    
    #site-navigation-mobile.mobile-nav-open .menu-open-icon {
        display: none;
    }
    
    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
    }
    
    @keyframes fadeOut {
        from {opacity: 1;}
        to {opacity:0 ;}
    }
}

@media(min-width:767px) and (max-width:979px){
    #site-navigation-mobile .menu-main-menu-container {
        top: 80px;
    }
}

@media(max-width:350px) or (max-height: 650px){
    #site-navigation-mobile .menu-main-menu-container {
        width: 100vw;
        height: calc(100vh - 47px);
        min-height: unset;
        padding: 10px;
        text-align: center;
        border: none;
        transition: .3s;
    }

    #site-navigation-mobile .menu {
        flex-direction: column;
    }
}

#masthead,
.logged-in.logged-in-traveller #masthead {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 30px -22px #000;
    z-index: 10;
}

.logged-in #masthead {
    position: absolute;
    top: 80px;
}

#masthead .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 6px 12px;
    margin: auto;
}

#masthead .header-content .custom-logo-link {
    line-height: 0;
}

#masthead .header-content .custom-logo-link .custom-logo {
    height: auto;
    width: 225px;
}

#site-navigation {
    /* width: 100%; */
    margin-left: 24px;
}

.main-navigation .menu {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    padding: 0 8px;
    line-height: 1;
}

.main-navigation .menu a {
    font-family: var(--title-font);
    font-size: 14px;
    padding: 8px 16px;
}

#masthead .cta-button {
    background-color: var(--cta-color-green);
    border-color: var(--cta-color-green);
    padding: 12px 24px;
    width: 125px;
    font-size: 12px;
}

#masthead .cta-button:hover {
    background-color: var(--cta-color-orange);
    border-color: var(--cta-color-orange);
}

@media(min-width:768px){
    #masthead .header-content {
        padding: 5px 30px;
    }

    .logged-in #masthead {
        top: 32px;
    }

    #masthead .header-content .custom-logo-link .custom-logo {
        height: 60px;
    }
}

@media(min-width:980px) {
    #masthead .header-content {
        display: grid;
        grid-template-columns: 225px 1fr;
    }
}

/* HACK */

#masthead .menu-item.tp__menu-item--sign-up a {
    color: #3344DD !important;
}

#main__top {
    position: sticky;
    bottom: 0;
    right: 0;
    transform: translateX(20px);
    opacity: 0;
    transition: .2s .2s ease-in-out;
    z-index: 9;
}

#main__top.active {
    opacity: 1;
    transform: translateX(0);
}

#main__top a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
}

#main__top a svg {
    width: 12px;
    height: auto;
}

@media(min-width:768px) {
    #main__top a {
        right: 30px;
        bottom: 50px;
    }
}

/* ******* Section-Header Styles End ******* */

/* ******* Section-Main Styles Start ******* */

#content {
    margin-top: 80px;
}

/* ******* Section-Main Styles End ******* */

/* ******* Section-Footer Styles Start ******* */

#colophon {
    background-color: var(--background-color);
}

#colophon .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 60px 30px;
}


#colophon .container .footer-logo {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

#colophon .container .footer-logo img {
    max-width: 125px;
    height: auto;
}

#colophon .container h4 {
    margin: 0 0 12px;
}

#colophon .container .menu {
    list-style: none;
    padding: 0;
}

#colophon .container .menu li {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
}

#colophon p {
    font-size: 14px;
    line-height: 1.2;
}

@media(min-width:768px){
    #colophon .container {
        grid-template-columns: 3fr 2fr 2fr 2fr;
    }
}

/* ******* Section-Footer Styles End ******* */

/* ******* Section-404 Styles Start ******* */

.error-404.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    text-align: center;
    min-height: 60vh;
}

.error-404.not-found:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--background-color);
    opacity: .9;
    z-index: 0;
}

.error-404.not-found .container {
    z-index: 1;
}

.error-404.not-found .container h1 {
    margin: 0;
}


/* ******* Section-404 Styles End ******* */