/******** General Styles Start ********/

.single h2 {
    font-size: 20px;
}
.single h3 {
    font-size: 18px;
}
.single h4 {
    font-size: 16px;
}

.post {
    position: relative;
}

#colophon .container {
    max-width: 1200px;
}

#breadcrumbs {
    margin: 0;
    padding: 25px 0 0;
}

.top-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    line-height: 0;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.top-icon:hover {
    background-color: var(--cta-color-orange);
}

@media(min-width: 980px) {

    .single h2 {
        font-size: 30px;
    }
    .single h3 {
        font-size: 24px;
    }

    .single .post .container {
        grid-template-columns: 3fr 8fr;
        grid-template-columns: 280px auto;
        padding: 90px 30px;
    }

    #breadcrumbs {
        padding: 25px 0;
    }
}

@media(min-width: 1400px) {
    .single .post .container {
        grid-template-columns: 280px auto;
        left: -170px;
    }
}

/******** General Styles End ********/

/******** Hero Styles End ********/

.post__hero {
    background-color: var(--background-color-brown);
}

.post__hero .container {
    max-width: 1500px;
    padding: 0 30px;
}

.post__hero-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.post__hero-content--info {
    padding: 30px 0;
}

.post__hero-content--info .post-meta {
    font-size: 14px;
    font-weight: 500;
}

.post__hero-content--info .post-meta .meta-item:first-child {
    display: block;
    margin-bottom: 5px;
}

.post__hero-content--info .separator {
    padding: 0 4px;
    /* display: none; */
}

.post__hero-content--image {
    border-radius: 8px;
    overflow: hidden;
    line-height: 0;
    max-height: 325px;
    align-self: end;
    margin-top: 30px;
    order: -1;
}

.post-title {
    margin-bottom: 20px;   
}

.post-meta {
    margin-bottom: 24px;
}

@media(min-width:980px){
    .post-title {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .post__hero-content {
        grid-template-columns: 7fr 5fr;
        gap: 50px;
    }

    .post__hero-content--image {
        margin-top: 0px;
        order: 2;
    }

    .post__hero-content--info .post-meta {
        font-size: 18px;    
    }


    .post__hero-content--info .post-meta .meta-item:first-child {
        display: inline;
    }

    .post__hero-content--info .post-meta .separator {
        display: inline;
    }
}

/******** Hero Styles End ********/

/******** Table of Contents Start ********/

@media(max-width: 768px){
    #table-of-contents .toc-header {
        cursor: pointer;
        background-color: var(--primary-color);
        color: var(--white-color) !important;
        text-align: left !important;
        padding: 12px 16px !important;
        font-size: 14px !important;
    }

    #table-of-contents .toc-body {
        max-height: 0;
        padding: 0 20px !important;
        border-left: 1px solid var(--gray-color);
        border-right: 1px solid var(--gray-color);
        border-bottom: 1px solid var(--gray-color);
        border-radius: 0 0 16px 16px;
        opacity: 0;
        transition: .25s;
    }

    #table-of-contents .toc-body.toc-open {
        opacity: 1;
    }

    #table-of-contents-list {
        padding-bottom: 40px;
        text-align: left !important;
        border: none !important;
    }
}

#table-of-contents {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

#table-of-contents .toc-icon {
    height: 7px;
    position: absolute;
    right: 17px;
    top: 17px;
    transition: .2s;
}

#table-of-contents.open .toc-icon {
    transform: rotate(180deg);
}

#table-of-contents h4.toc-header {
    font-size: 16px;
    color: var(--primary-color);
    padding: 0 40px 5px;
    margin: 0;
    text-align: right;
}

#table-of-contents .toc-body {
    padding: 20px;
    transition: .2s ease-in-out;
}

#table-of-contents-list {
    padding-left: 0;
    line-height: 1.5;
    list-style: none;
    text-align: right;
    border-right: 1px solid var(--gray-color);
    padding: 0;
}

#table-of-contents-list li {
    font-family: var(--paragraph-font);
    font-size: 14px;
    font-weight: 400;
    padding: 0 20px 0 0;
    position: relative;
    right: -1px;
    border-right: 3px solid transparent;
    transition: .2s ease-in-out;
}

#table-of-contents-list li.active {
    font-weight: 600;
    color: var(--cta-color-green);
}

#table-of-contents-list li a {
    display: inline-block;
    color: var(--primary-color);
    padding: 12px 0;
    line-height: 1.2;
}

@media(min-width: 768px){
    #table-of-contents .toc-icon {
        display: none;
    }

    #table-of-contents {
        position: sticky;
        top: 140px;
        margin-bottom: 30px;
    }

    #table-of-contents-list li.active {
        border-right: 3px solid var(--cta-color-green);
    }
}
/******** Table of Contents End ********/